.auth__google {
  @apply rounded border-black border py-0 pr-4 flex items-center w-full;
  white-space: nowrap;

  .google__icon {
    display: inline-block;
    width: 56px;
    height: 56px;
    padding: 14px;

    overflow: visible;
  }

  &:hover,
  &:active {
    @apply border-gray-300;
  }
}

.auth__apple {
  @apply rounded border-black border py-0 pr-4 flex items-center w-full;

  line-height: 50px;

  .apple__icon {
    display: inline-block;
    width: 56px;
    height: 56px;
    padding: 12px;

    overflow: visible;
  }

  &:hover,
  &:active {
    @apply border-gray-300;
  }
}

.auth__username {
  @apply rounded border-black border py-0 pr-4 flex items-center w-full;

  line-height: 50px;

  .username__icon {
    display: inline-block;
    width: 56px;
    height: 56px;
    padding: 14px;

    overflow: visible;
  }

  &:hover,
  &:active {
    @apply border-gray-300;
  }
}

.auth__input {
  @apply rounded border-gray-300 border p-2;

  &::placeholder {
    @apply text-gray-300;
  }
}
