@mixin button-orange {
  display: inline-block;
  width: auto;
  padding: 4px 10px;

  border: 2px solid theme('colors.orange');
  border-radius: 5px;

  color: #FFFFFF;

  @apply bg-orange;

  &:hover,
  &:focus,
  &:active {
    background-color: #FFFFFF;
    color: theme('colors.orange');
    cursor: pointer;
  }
}

.button.orange {
  @include button-orange;
}

.button.gray {
  display: inline-block;
  width: auto;
  padding: 4px 10px;

  border: 1px solid theme('colors.gray.300');
  border-radius: 5px;

  color: #FFFFFF;

  @apply bg-white text-black;

  &:hover,
  &:focus,
  &:active {
    background-color: #FFFFFF;
    color: theme('colors.gray-800');
    cursor: pointer;
  }
}
