body {
  min-height: 100vh;
  background-image: url("../assets/svg/footer.svg"),
  linear-gradient(0deg, #FFFFFF 0%, #C3E9F4 100%);

  background-repeat: repeat-x, no-repeat;
  background-position: bottom right, top;

  @apply font-sans;
}

/* Sidebar */
.side-menu {
  @apply grid grid-cols-4;
}

.side-menu li {
  @apply col-span-1 mt-1;

  @screen md {
    @apply col-span-4;
  }
}

.side-menu a:hover,
.side-menu a:focus,
.side-menu a:active,
.side-menu li.active a {
  color: theme('colors.orange');

  svg #fillpath {
    fill: theme('colors.orange');
  }
}

.side-menu svg {
  @apply inline-block h-6;

  @screen lg {
    @apply mr-2;
  }
}

.side-menu .side-menu__cta {
  @apply hidden;

  @screen md {
    margin-top: 32px;

    @apply block;
  }
}

.nav-tab {
  @apply w-full justify-center inline-block text-center pt-2 pb-1;

  &:hover,
  &:focus,
  &:active {
    @apply text-orange;

    svg .fillpath {
      fill: theme('colors.orange') !important;
    }
  }

  @screen md {
    @apply block text-left;
  }
}

.nav-tab__img svg {
  @apply inline-block mb-1;

  @screen md {
    @apply inline mb-0;
  }
}

.nav-tab__text {
  @apply block text-xs;

  @screen md {
    @apply inline-block text-base ml-2;
  }
}

.side-menu .nav-tab__cta {
  @screen md {
    @apply mt-6;
  }
}

.nav-tab__cta .nav-tab {
  @screen md {
    @include button-orange();

    @apply mt-4;
  }
}

.nav-section {
  @apply block fixed bottom-0 left-0 right-0 bg-white shadow;

  @screen md {
    @apply shadow-none bg-transparent text-lg font-bold leading-loose static;
  }
}
